/*
body, html, div {
    margin: 0 0 0 0;
    padding: 0;
}

#content h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #eeeeee;
    text-align: justify;
}

#content h1 {
    font: bolder 16pt/16pt helvetica, arial, sans-serif;
    margin-top:10px;
    margin-bottom:8px;
}

#content h2 {
    font: bold 13pt/13pt helvetica, arial, sans-serif;
    margin-top:6px;
}

#content h3 {
    font: bold 11pt/11pt helvetica, arial, sans-serif;
    margin-top:6px;
}
*/

#content {
    font: 10pt/16pt helvetica, arial, sans-serif;
    margin-left:5px;
    margin-right:5px;
}

#content th {
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#content table.uol, table.objlist {
    border-collapse: none;
    margin: 5px;
    background-color: #eeeeee;
}

#content img {
    vertical-align: bottom;
}

#content p.back {
    font: 10pt/10pt helvetica, arial, sans-serif;
    margin-top: 20px;
}


#bookmarklist {
    padding: 0;
    margin: 0 0 5px 10px;
    list-style-type: none;
}
{
    background: url(/ximsroot/skins/default/images/sprite.gif);
}
#bookmarklist li, #settinglist li, #adminoptlist li, span.bookmarklink  {
    background: url(/ximsroot/images/icons/list_SymbolicLink.gif);
    background-repeat:no-repeat;
    background-position:0 0;
    vertical-align:top;
    padding: 0 0 0 1.8em;
    margin: 0;
}

hr {
    left: auto;
    color: #eeeeee;
    height: 1px;
    shade: no-shade;
}

.objlastmod{
	display: inline-block;
	margin-right: 10px;
}

#button-forms form{
	display: inline;
}
#label-oldpwd, #label-newpwd, #label-confirmpwd{
	width: 150px;
	display: inline-block;
}
#input-oldpwd, #input-newpwd, #input-confirmpwd{
	display: inline-block;
}

.input-label-acc{
	width: 160px;
	display: inline-block;
}
#table-syspriv th{
	vertical-align: top;
}
#table-syspriv span.cboxitem{
	width: 160px !important;
}
#op_webdav span.cboxitem{
	width: 160px !important;
}
