<?xml version="1.0" encoding="UTF-8"?>
<config>
    <files>
        <input>
            <!-- The XML-document with the actual data -->
            <file name="BX_xmlfile">{$xmlfile}</file>
            <file name="BX_validationfile">{$validationfile}</file>
        </input>
        <output>
            <file name="BX_exitdestination">{$exitdestination}</file>
        </output>
        <css>
            <!-- Document specific css This is the one, which you should adjust.-->
            <file>../ximsroot/bxe/css/editor.css</file>
            <file>{$css}</file>
        </css>
        <scripts>
            <file>js/bxehtmltb.js</file>
            <file>mozile/jsdav.js</file>
            <file>js/table.js</file>
            <file>mozile/td/webdav.js</file>
            <file>td/relaxngtest.js</file>
            <file>mozile/mozilekb.js</file>
            <file>relaxng/AttributeVDOM.js</file>
            <file>relaxng/NodeVDOM.js</file>
            <file>relaxng/DocumentVDOM.js</file>
            <file>relaxng/ElementVDOM.js</file>
            <file>relaxng/DocumentVAL.js</file>
            <file>relaxng/NodeVAL.js</file>
            <file>relaxng/ElementVAL.js</file>
            <file>relaxng/RelaxNG.js</file>
        </scripts>
    </files>
    <buttons>
        <dimension width="120" height="140" buttonwidth="20" buttonheight="20"/>
        <button name="Copy" col="0" row="4" action="ClipboardCopy"/>
        <button name="Cut" col="1" row="4" action="ClipboardCut"/>
        <button name="Paste" col="2" row="4" action="ClipboardPaste"/>
        <button name="Save" col="1" row="6" action="DocumentSave"/>
        <button name="Undo" col="3" row="6" action="Undo"/>
        <button name="Redo" col="4" row="6" action="Redo"/>
    </buttons>
</config>
