/*
.ui-widget{
	font-family: helvetica, arial, sans-serif !important;
	font-size: 1em !important;
}
*/
.ui-widget{
	font-family: helvetica, arial, sans-serif;
	font-size: 1em ;
}
/*
.ui-widget-content{
	font-size: 0.8em
}
*/
.ui-state-default, .ui-widget-content .ui-state-default{
	border: 1px solid #999999; /* !important;*/
}

a.button{
	color: #555555;
}
/*
.button .ui-button .ui-state-default{
	background: none repeat-x scroll 50% 50% #EEEEEE !important;
}
*/	

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: none repeat-x scroll 50% 50% #EEEEEE;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-active .ui-state-hover,
.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-state-active .ui-state-focus{
	background: none repeat-x scroll 50% 50% #d0d0d0;
}
/*
.ui-state-active{
	background: none repeat-x scroll 50% 50% #FFFFFF;
}*/

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
	background: none repeat-x scroll 50% 50% #FFFFFF;
}

/*
.ui-buttonset .ui-state-default{
	background: none repeat-x scroll 50% 50% red;
	color: #ffffff;
}
*/
/*
.ui-buttonset .ui-state-active{
	background: none repeat-x scroll 50% 50% green;
	color: #ffffff;
}
*/

/*
.button .ui-button .ui-state-focus, .button .ui-button .ui-state-hover{
	background: none repeat-x scroll 50% 50% #d0d0d0 !important;
}
*/

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text{
	padding: 0.2em !important;
}
.ui-button-text-only .ui-button-text{
	padding: 0.2em 0.4em !important;
}
.ui-button-text-icon .ui-button-text, .ui-button-text-icons .ui-button-text{
	padding: 0.2em 0.4em 0.2em 1.8em !important;
}
/*.ui-button .status-disabled .ui-button-disabled .ui-state-disabled, .ui-button .option-disabled .ui-button-disabled .ui-state-disabled{*/
.ui-button-disabled{
	background: none; /* repeat-x scroll 50% 50% #FFFFFF;*/
	border: none;
	margin-left: 2px;
	cursor: default !important;
}
.ui-buttonset label.ui-state-default .ui-button-text{
	text-decoration: line-through;
}
.ui-buttonset label.ui-state-active .ui-button-text{
	text-decoration: none;
}

ul.ui-widget-content{
	max-height:300px;
	min-width: 160px;
	width: 160px;
	/*overflow-y: auto;
	overflow-x: hidden;
	position: absolute !important;
	z-index:3;*/
}
a.more.ui-state-default{
	border: none;
	background:none;
}
a.more > .ui-button-text{
	padding: 0px !important;
	text-align: left;
}

.positionHelper{
	font-size: 0.8em;
}

/* Buttonset */
.ui-buttonset{
	white-space: nowrap;
	display: inline-block;
}
/*
.ui-buttonset label{
	width: 56px;
}
*/
/*
.ui-buttonset label.ui-state-active{
	background: none repeat-x scroll 50% 50% #FFFFFF;
}
*/
/*
.ui-buttonset label.ui-state-active .ui-button-text{
	font-weight: bold;
}
*/

.ui-tooltip-content{
	font-size: 0.8em;
}
.help-tt{
	max-width: 200px;
}
#bm-links{
	min-width:300px;
}

/* common header */
/*#titlelogo, #header-logo, #subheader{*/
#menu-bar, #header-logo{
    background: url(/ximsroot/skins/default/images/sprite.gif);
}
#path-logo{
	height: 40px;
	background-color: #eee;
}

#locbar {
	float: left;
	white-space:nowrap;
	margin-top:20px;
	margin-left:10px;
	font-size: 0.8em;
}

#header-logo{
    background-repeat: no-repeat;
    background-position: 0 -521px;
    width: 50px;
    margin-right:10px;
		float:right;
		display: inline-block;
    height: 40px;
		position: relative;
    z-index: 24;
}
#header-logo a span{
		position: absolute;
    top: 0;
    left: -9999em;
}

#menu-bar {
	background-repeat: repeat-x;
  background-position: 0 -902px;
  height: 42px;
  width: 100%;
	border-top: 1px solid #C0C0C0;
	font-size: 0.8em;
}

#navup, #navfwd, #navback{
  display: inline-block;
	float:left;
	height: 100%;
  white-space: nowrap;
}
#navback img, #navup img, #navfwd img { 
	margin-top: 7px;
}
#navback {
    width: 57px;
    text-align: center;
}
#navup {
    width: 41px;
    text-align: left;
}
#navfwd {
    width: 59px;
    text-align: left;
}

#help-widget, #menu-widget{
	position: relative;
	margin-top: 8px;
	margin-right: 20px;
		/*for noscript-compatibility*/
	display:none;
	float: left;
	  z-index: 30;
}
#menu-types {
  position: relative;
  z-index: 30;
	display: inline-block;
}
#help-types {
  position: relative;
  z-index: 30;
	display: inline-block;
}

#menu-search {
	padding: 5px !important;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 15px;
	display: inline;
	float:right;
}

/* accessible menu-list */
#accesslist li {
    display: inline;
    padding-left: 10px;
    position: absolute;
    left: -2500px;
    width: 1px;
    overflow: hidden;
}

#accesslist li a:focus, #accesslist li a:active {
    position: absolute;
    top: 44px;
    left: 79px;
    left: 2379px;
    width: 966px;
    opacity: 0.9999;
    font-weight: bold;
    padding: 2px;
    color: #000;
    background: #ff9;
    border: 2px solid #000;
    z-index: 999;
}

/* object-menu */

#options-menu-bar {
    background-color: #FFFFFF;
    float: left;
    height: 40px;
	margin: 10px 10px 0px 10px;
	clear: both;
	font-size: 0.8em;
}

#objtype-title{
	display: inline-block;
	float: left;
	margin-top: 10px;
	max-width: 600px;
	margin-left: 12px;
}
#options {
	display: inline-block;
	float: left;
	margin-top: 10px;
}
#trash {
	display: inline-block;
	float: left;
	margin-top: 10px;
	padding-right:12px;
}

#create-widget{
	padding-right: 12px;	
	position: relative;
	float: left;
	margin-top:8px;
	white-space: nowrap;
	display:none;
	width: 100px;
}
#object-types {
  position: relative;
  z-index: 20;
	display: inline-block;
}

.ui-autocomplete{
	font-size: 0.8em !important;
	overflow-y: auto;
}
.ui-datepicker{
	font-size: 0.8em !important;
}

/* options-toolbar */
.ui-icon.xims-sprite { 
	width: 16px; height: 16px; 
	background-image: url(/ximsroot/skins/default/images/sprite.gif) !important; 
}
.ui-icon.xims-sprite.sprite-status_pub, .ui-icon.xims-sprite.sprite-status_pub_async, .ui-icon.xims-sprite.sprite-new{
	margin-left: -11px !important;
}
.ui-button-icon-only.status_pub, .ui-button-icon-only.status_pub_async, .ui-button-icon-only.status_disabled{
	width: 22px !important;
}
.toolbar {
	display: inline;
	margin: 0 5px 0 5px;
	white-space: nowrap;
}

#tab-container {
	background-color:#FFFFFF;
	clear:both;
	float:left;
	height:40px;
	margin:10px 10px 0;
	font-size: 0.8em;
	max-width: 790px;
	padding-top: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
#tab-container h1, #options-menu-bar h1{
	font-weight: bold;
	margin: 0px !important;
	padding-right: 20px;
	display: inline;
	font-size: 1.2em;
}
/*datetime picker */
/*#ui-datepicker-div{ font-size: 80%; }*/
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; } 
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
    opacity: 1 !important;
}

