body, html, div {
    margin: 0;
    padding: 0;
}


body {
    font: 10pt/16pt helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #eeeeee;
    text-align: justify;
    color:#336633;
}

h1 {
    font: bolder 16pt/16pt helvetica, arial, sans-serif;
    margin-top:10px;
    margin-bottom:20px;
}

h2 {
    font: bolder 14pt/14pt verdana, geneva, arial, sans serif;
}

h3 {
    font: bolder 12pt/12pt verdana, geneva, arial, sans serif;
}

p {
    font: 10pt/14pt helvetica, arial, sans-serif;
    text-align: justify;
    margin-bottom: 8pt;
    margin-top: 8pt;
}

.emphasis {
    font: italic bold 10pt/12pt helvetica, arial, sans-serif;
    margin-left:15px;
    margin-right:15px;
}

#footer .left {
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
    top: 23px;
}

.right {
    float: right;
}

a:link {
    color: #ff6600;
    text-decoration:none;
}

a:visited {
    color: #cc3300;
    text-decoration:none;
}

a:hover {
    color: #000000;
    text-decoration:underline;
}

#header {
    background:#fff;
    height:40px;
    border-top:1px;
    border-right:1px;
    border-left:1px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height:39px;
    width:790px;
}

#banner {
    background: url(/ximspubroot/images/header_bg.png) repeat-x;
}

#logo {
    position: absolute;
    top: 0px;
    left: 622px;;
}

#pathnavigation {
    position: absolute;
    top: 45px;
    left:1px;
    background: #ffffff;
    border-bottom: 1px solid #BACFB2;
    width: 790px;
}

#pathnavigation a {
    text-decoration:none;
}

#pathnavigation a:link {
    color: #ff6600;
}

#pathnavigation a:visited {
    color: #ff6600;
}

#pathnavigation a:hover {
    color: #ffaa44;
}

#leftcontent {
    position: absolute;
    left:3px;
    top:80px;
    width:145px;
    background:#fff;
}

#centercontent {
    position: absolute;
    left:160px;
    top:80px;
    width:630px;
}

#footer {
    margin-top: 50px;
    font: 7pt/7pt helvetica, arial, sans-serif;
    color: #a9a9a9;
}

#linkbox {
    margin-bottom: 5px;
    padding-top:13px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:8px;
    width:135px;
    background: url(/ximspubroot/images/linkbox_tl.png) no-repeat top left;
    background-color:#FFFFFF;
    border: 1px solid #F5BB95;
}

#linkbox h3 {
    font: bold 8pt/8pt helvetica, arial, sans-serif;
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;
    color:#669933;
}

#linkbox ul {
    list-style:none;
    margin: 1px 0 0 0;
    padding: 0;
}

#linkbox li {
    background:  url(/ximspubroot/images/bullet.png) no-repeat 2px 3px;
    margin-left:5px;
    padding: 0 0 0 15px;
}

#linkbox li a:hover {
    padding-left: 1px;
    padding-right: 4px;
    text-decoration: none;
    background: #E3F0D2;
    border-left: 1px solid #669933;
    border-bottom: 1px solid #669933;
}

#linkbox a:link {
    color: #000000;
}

#linkbox a:visited {
    color: #000000;
}

#departmentlinks {
    margin-bottom: 5px;
    padding-top:13px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:8px;
    background-color:#F4F8EF;
    border: 1px solid #C9EBA7;
    background: url(/ximspubroot/images/departmentlinks_tl.png) no-repeat top left;
    background-color:#F4F8EF;
    border: 1px solid #C9EBA7;
    width:135px;
}

#departmentlinks h3 {
    font: bold 8pt/8pt helvetica, arial, sans-serif;
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;
    color:#ff6600;
}

#departmentlinks ul {
    list-style:none;
    margin: 1px 0 0 0;
    padding: 0;
}

#departmentlinks li {
    background: url(/ximspubroot/images/bullet.png) no-repeat 2px 3px;
    margin-left:5px;
    padding: 0 0 0px 15px;
}

#departmentlinks li a:hover {
    padding-left: 1px;
    padding-right: 4px;
    text-decoration: none;
    background: #F3C7AB;
    border-left: 1px solid #DF7900;
    border-bottom: 1px solid #DF7900;
}

#departmentlinks a:link {
    color: #000000;
    text-decoration:none;
}

#departmentlinks a:visited {
    color: #000000;
}

#newsbox {
    margin-top: 5px;
    padding-top:13px;
    padding-left:4px;
    padding-right:4px;
    padding-bottom:8px;
    width:135px;
    background: url(/ximspubroot/images/newsbox_tl.png) no-repeat top left;
    background-color:#FFFFFF;
    border: 1px solid #F5BB95;
}

#newsbox h3 {
    font: bold 8pt/8pt helvetica, arial, sans-serif;
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;
    color:#669933;
}

#newsbox ul {
    list-style:none;
    margin: 1px 0 0 0;
    padding: 0;
}

#newsbox li {
    background:  url(/ximspubroot/images/bullet.png) no-repeat 2px 3px;
    font: 8pt/10pt helvetica, arial, sans-serif;
    margin-left:5px;
    margin-top:3px;
    padding: 0 0 0 15px;
}

#newsbox li a:hover {
    padding-left: 1px;
    padding-right: 4px;
    text-decoration: none;
    background: #E3F0D2;
    border-left: 1px solid #669933;
    border-bottom: 1px solid #669933;
}

#newsbox a:link {
    color: #000000;
}

#newsbox a:visited {
    color: #000000;
}

#searchform {
}

#searchform input {
    font-face: helvetica;
    font-size: 10pt;
}

#searchform .inputtext {
    background: #eeeeee;
}

#searchform .inputsubmit:hover {
    background: #AAD372;
    border: 1px dotted black;
}

#searchresults {
}

#searchresults .searchresultitem {
    border-bottom: 1px solid #808080;
    padding-top: 5px;
    padding-bottom: 10px;
}

#searchresults .title {
    padding-left: 4px;
}

#searchresults .location_path, .meta {
    line-height: 12px;
    margin: 0px;
    font-size: 8pt;
    color: #000000;
    padding-left: 40px;
}

#searchresults .abstract {
    font-size: 9pt;
    color: #808080;
    padding-left: 40px;
}



