#reflib_citebody, #reflib_ptitle {
    margin-left: 5px;
}

#reflib_citebody h2 {
    font-size: 1.2em;
}

#reflib_citebody h3 {
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
    font-size: 1.0em;
}

.reflib_citedivyear {
    margin-bottom: 40px;
}

.reflib_citelist {
    margin-top: 5px;
    line-height: 1.3em;
}

.reflib_citation {

}

.reflib_authors {

}

.reflib_author {

}

.reflib_title {
    font-style: italic;
}

.reflib_serial {

}

.reflib_abstract {
    margin: 5px 5px 15px 5px;
    border: 1px dotted #eeeeee;
}