/*.question-options span{
	display: inline;
	padding-left: 16px;
	cursor: pointer;
}*/
.question-options{
	float: left;
}
.question-main{
	float: left;
}
/*
#question-comment{
	margin-left: 170px;
}
*/
.question{
	padding: 2px;
	clear: both;
	margin-bottom:2px;
}
.question > div{
	margin-bottom: 10px;
}

.qu-edit-title {
  font-size: 16px;
  font-weight: bold;
}

.qu-edit-comment {
  font-size: 16px;
  font-weight: bold;
}
/*
.qn-edit-title {  }

.qn-edit-comment {  }
*/
.numbering {
  color: black;
  font-weight: bold;
  vertical-align: top;
 }
.label-question{
	vertical-align: top;
}
.question-table {
  border: thin black solid;
  background-color: #FFFFFF
; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px
 }

.question-header {
  background-color: #FFFFFF
}

.answer-header {
  background-color: #FFFFFF
}

.exampleanswers {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #F0F0F0
}

.answeralignement {

}

.questionnaire-intro-public {

}

.publicbody {
    padding-left: 5px;
}
