/*
 * Styles for the XIMS-Gallery 
 * author:Susanne Tober
 * */
.galleria li{
	display:block;
	width:40px;
	height:40px;
	overflow:hidden;
	float:left;
	margin:0 10px 10px 0
	}
.galleria li img.thumb{
	cursor:pointer;
	top:auto;
	left:auto;
	display:block;
	width:auto;
	height:auto
	}
#main_image{
	text-align:center;
	margin-left:10px;
	margin-top: 2em;
	}
	/* height: auto should do it
.thumb{
	height:40px !important;
	}
	*/
.galleria li.active {
		border: black solid 3px;
	}
.galleria{
		margin:10px;
		padding: 0px;
	}
.caption{
		height: 100px;
		margin-top: 10px;
	}	
.ui-widget-header{
		background: none !important;
	}
.scroll-pane { 
		border: 1px solid #AAAAAA;
}
.scroll-content { 
	float: left; 
	}
.div-left{
	float: left;
	}
.div-right{
	float:right;
	}
.hidden{
	visibility: hidden;
}
