.topMenu 	{border:1px dotted #AAAAAA;}

#MDME
{
font-family: georgia, serif;
font-size: 10px;
}

#MDME ul
{
width:120px;
text-align: left;
margin:0px;
padding: 0px;
font-family: verdana, arial, sans-serif;
background-color: #F7F7F7;
}

#MDME ul li
{
width:auto;
border:1px dotted #AAAAAA;
margin:1px;
}

#MDME ul li li{ background-color:#EBEBEB;}
#MDME ul li li li{ background-color:#F7F7F7;}
#MDME ul li li li li{ background-color:#EBEBEB;}
#MDME ul li li li li li{ background-color:#F7F7F7;}
#MDME ul li li li li li li{ background-color:#EBEBEB;}

#MDME ul li ul
{
width:140px;
margin-left:5px;
}

#MDME ul li ul li ul
{
width:200px;
margin-left:5px;
}


#MDME a
{
display: block;
margin:1px;
font-size: 10px;
color:#333333;
text-decoration: none;
background-color: #FFFFFF;
}

#MDME a:hover
{
display: block;
margin:1px;
font-size: 10px;
color: #000000;
background-color: #E1E1E1;
text-decoration: none;
}
