<?xml version="1.0"?>
<Config>
    <General>
        <!--
            0   Quiet
            1 	Fatals (unrecoverable errors)
            2 	Errors (serious error conditions)
            3 	Warnings (non-serious error-conditions)
            4 	Infos (»interesting« events)
            5 	Program flow and verbose infos, e.g. most method entries and exits
            6 	Dumps SQL-strings and important values, disables stylesheet caching  	
        -->
        <DebugLevel>2</DebugLevel>

        <!-- Absolute path to the HTTP servers document root -->
        <ServerDocumentRoot></ServerDocumentRoot>

        <!-- comma-separated list of IPs or netmasks that can be trusted. -->
        <!-- Example setting for localhost -->
        <!-- <trustProxy>127.0.0.1/8</trustProxy> -->
        <trustProxy></trustProxy>

        <!-- Database connection information -->
        <DBUser></DBUser>
        <DBPassword></DBPassword>
        <!--- DBI dsn string-->
        <DBdsn></DBdsn>

        <!-- RDBMS specific DBD session options -->
        <DBSessionOpt></DBSessionOpt>
        <!-- RDBMS specific DBD connect options -->
        <DBDOpt></DBDOpt>

        <!--
        # Example settings for PostgreSQL
        <DBUser>ximsrun</DBUser>           # Default value from defaultdata.sql
        <DBPassword>ximsrun</DBPassword>   # Default value from defaultdata.sql
        <DBdsn>dbi:Pg:dbname=xims;host=127.0.0.1;</DBdsn>  # Default value from defaultdata.sql
        <DBSessionOpt>SET DateStyle TO ISO;</DBSessionOpt>
        <DBDOpt>FetchHashKeyName=NAME_uc;pg_enable_utf8=1;</DBDOpt>
        -->
        <!--
        # Example settings for Oracle
        <DBdsn>dbi:Oracle:test</DBdsn>
        <DBSessionOpt>ALTER SESSION SET NLS_DATE_FORMAT='YYYY-MM-DD HH24:MI:SS';</DBSessionOpt>
        <DBDOpt>LongReadLen=67108864;LongTruncOk=1;ora_taf_function=XIMS::DataProvider::DBI_ORA_TAF::handle_taf</DBDOpt>
        -->

        <!--
        # Number of found objects displayed per page
        # Must be in sync with the corresponding value in $ximsroot/stylesheets/config.xsl
        -->
        <SearchResultRowLimit>30</SearchResultRowLimit>

        <!--
            # Session time out limit (in seconds)
            # 86400 = ONE_DAY
            # 28800 = 8h
        -->
        <SessionTimeout>28800</SessionTimeout>
        <SessionMaxAge>86400</SessionMaxAge>

        <!--
        # Path to the htmldoc binary
        -->
        <htmldocPath>/usr/bin/htmldoc</htmldocPath>

        <XHTMLEditorOptions>
          <option value="plain">Plain Textarea</option>
          <option value="tinymce">TinyMCE Editor</option>
        </XHTMLEditorOptions>
        <DefaultXHTMLEditor>tinymce</DefaultXHTMLEditor>

        <CodeEditorOptions>
          <option value="plain">Plain Textarea</option>
          <option value="codemirror">Codemirror</option>
        </CodeEditorOptions>
        <DefaultCodeEditor>codemirror</DefaultCodeEditor>

        <!-- per object type options for document role attribute. The <option
             value="0"></option> entry *needs to be the first child node for each
             object type.
        -->
        <!-- <DocumentRoleOptions>
          <Document2>
            <option value="0"></option>
            <option value="landing-page">Landing Page</option>
          </Document2>
          <URLLink >
            <option value="0"></option>
            <option value="home">Home</option>
            <option value="enclosure">Enclosure</option>
            <option value="feed">Feed</option>
            <option value="tile">Tile</option>
            <option value="img-tile">Image Tile</option>
            <option value="pano-img">Panorama Image</option>
          </URLLink>
          <NewsItem>
            <option value="0"></option>
            <option value="newslink">NewsLink</option>
          </NewsItem>
        </DocumentRoleOptions> -->
        
        <!--
        # Source IP of the mailable object types' request agent session
        -->
        <RequestAgentSourceIP>127.0.0.1</RequestAgentSourceIP>

        <!--
        #  Sizelimit of E-Mails sent by XIMS in  characters (octets)
        -->
        <MailSizeLimit>524288</MailSizeLimit>

        <!-- What is considered to be a big image. It will be marked as such in
        the ImageChooser (~70KiB) -->   
        <BigImageLimit>71680</BigImageLimit>

        <!--
        # If set to a non-zero value, locations of content objects will be lowercased during save
        -->
        <LowerCaseLocations>0</LowerCaseLocations>

        <!--
        # Array of language-tags of XIMS-known user interface stylesheet directories.
        # Every item will be tested for preference in a RFC2616 style language negotiation
        # process following the user agent's language settings.
        # An item will be used as directory name in
        # $ximsroot/skins/$defaultskin/stylesheets/$item
        -->
        <UILanguages>
            <item>de-at</item>
            <item>en-us</item>
        </UILanguages>
        <!--
        # Fallback value if the language negotiation with the user agent
        # will not be successful.
        -->
        <UIFallbackLang>en-us</UIFallbackLang>

        <!--
	        BlowfishCrypt work factor for password hashes stored in XIMS’ database.
	    -->
        <BCryptWorkFactor>12</BCryptWorkFactor>

        <!--
            Name or comma-separated list of names of the authentification module(s).
            Modules in a list will be tried consecutively.
            <AuthStyle>XIMS::Auth::LDAP,XIMS::Auth::Password</AuthStyle>
        -->
        <AuthStyle>XIMS::Auth::Password</AuthStyle>
        <!-- URL/FQDN of the Server used for LDAP or IMAP authentification
             
             <AuthServer>ldaps://ldap.example.com</AuthServer>
             <LDAPBase>ou=example,ou=people,dc=example,dc=com</LDAPBase>
        -->
        <AuthServer></AuthServer>
        <LDAPBase></LDAPBase>

        <!-- If you need user names with domain endings (e.g. Shibboleth), let
             XIMS expand the local name for convenience (e.g. mustermeier to
             mustermeier@example.com). Local names that should not be expanded
             (e. g. local roles) MUST contain a colon, like 'XIMS:ALL'. Leave
             empty if not used. N.b.: The example data does NOT use this
             naming convention.
             
             <UserNameDefaultDomain>example.com</UserNameDefaultDomain>
        -->
        <UserNameDefaultDomain></UserNameDefaultDomain>

        
        <!--
        # Path to an existing XIMS content object users will be redirected after login, if no specific
        # object has been requested by him and no bookmark could be found.
        -->
        <FallbackStartPath>/xims</FallbackStartPath>

        <!--
        The implicit user for the /gopublic interface; the default
        value comes from default_data.sql If you are upgrading an
        existing system, make sure this is set to a useful value!
        -->
        <PublicUserID>6</PublicUserID>

        <!--
        Everyone but the public user has this implicit role. The
        default value comes from default_data.sql. If you are
        upgrading an existing system, make sure this is set to a
        useful value!
        -->
        <AuthenticatedUserRoleID>7</AuthenticatedUserRoleID>

        <!--
        # Optionally set a custom DBI specific QueryBuilder Driver.
        # 'InterMedia' for example will load XIMS::QueryBuilder::OracleInterMedia
        # for Oracle.
        -->
        <QBDriver></QBDriver>

        <!--
        # Name of the skin used per default; directory name below $ximsroot/skins/
        -->
        <DefaultSkin>default</DefaultSkin>

        <!--
        # <'0'|'1'>
        # Set this to '0' if you want to symlink object roots directly under
        # ApacheDocumentRoot() or to '1', if you are planning to serve multiple
        # XIMS hosted sites using Apache's virtual hosting features.
        # See http://xims.info/documentation/admins/managing_multiple_sites_with_xims.sdbk
        # for further information and examples.
        # Do not change unless you know what you are doing!
        -->
        <ResolveRelToSiteRoots>1</ResolveRelToSiteRoots>

        <!--
        # Filename of the auto-generated container indices.
        # If you change that, you have to update the DirectoryIndex directive in ximshttpd.conf
        -->
        <AutoIndexFilename>_ottereendex.html</AutoIndexFilename>
        <!--
        # Name of the XSL-Stylesheet used to generate AutoindexFilename()
        -->
        <AutoindexExportStylesheet>export_auto_index.xsl</AutoindexExportStylesheet>

        <!-- DataProvider Driver; currently only 'DBI' is implemented -->
        <DBMS>DBI</DBMS>

        <!--
            Path relative to ServerDocumentRoot. Do not change unless you know
            what you are doing; e.g. you will find that 'ximsroot' is still
            hardcoded in many of the CSS files, etc.
        -->
        <XIMSRoot>ximsroot</XIMSRoot>

        <!--
        # Path to the export directory relative to ServerDocumentRoot.
        # Do not change unless you know what you are doing!
        -->
        <PublicRoot>ximspubroot</PublicRoot>

        <!--
        # Name of the main XIMS PerlHandler module
        # Do not change unless you know what you are doing!
        -->
        <goxims>goxims</goxims>

        <!-- The same, but use basic authentication -->
        <gobaxims>gobaxims</gobaxims>

        <!-- ... for the public user ... -->
        <gopublic>gopublic</gopublic>
   
        <!-- ... and for WebDAV -->
        <godav>godav</godav>

        <!--
            Name of the content interface
            Do not change unless you know what you are doing!
        -->
        <ContentInterface>content</ContentInterface>
        <!--
            Name of the interface for users' personal settings
            Do not change unless you know what you are doing!
        -->
        <PersonalInterface>user</PersonalInterface>
        <!--
            Name of the interface for managing users
            Do not change unless you know what you are doing!
        -->
        <UserManagementInterface>users</UserManagementInterface>
		
		<!--
		    Default UserPreferences
		-->
		<DefaultUserPrefsSkin>default</DefaultUserPrefsSkin>
		<DefaultUserPrefsProfile>standard</DefaultUserPrefsProfile>
		<DefaultUserPrefsContainerview>title</DefaultUserPrefsContainerview>
		<DefaultUserPrefsPubOnSave>0</DefaultUserPrefsPubOnSave>
		
		<!--  Default CSS for Document's Content -->
    <DefaultCSS></DefaultCSS>
		<!--
		# Maximum Number of objects that can be processed 
		# by a multiple object action or recursion
		# (publish, move, delete, grant privileges)
		-->
		<RecMaxObjects>1500</RecMaxObjects>
		
    <!-- Email Address for Xims-Support -->
    <SupportMailAddress></SupportMailAddress>
		
    <!--  Custom Help Links (XIMS Documentation, Support, ...) -->
    <HelpLinks>
      <li>
        <a href="http://xims.info/documentation/" target="_blank" title="Systeminfo">
            Systeminfo
         </a>
       </li>
    </HelpLinks>

    <!-- the empty MOTD-node should remain if you disable this -->  
    <!-- <MOTD/> -->
    <MOTD title="Welcome">
      <p><strong>Hi!</strong></p>
      <p>Comment out <code>&lt;MOTD&gt;</code> in <i>ximsconfig.xml</i> to get
      rid of this message.</p>
    </MOTD>

    
    </General>
    <!-- Relative to $xims_home/conf -->
    <Include>conf.d</Include>
	
</Config>
